.header{
    display: flex;
    justify-content: space-between;
    border: 2px solid red;
}
.logo{
    height: 8em;
}
ul {
    list-style: none;
    display: flex;
    padding: 22px 0px;
}

.nav-items> ul>li{
    padding: 12px;
    font-size: 30px;
}