.header{
    display: flex;
    justify-content: space-between;
    border: 2px solid red;
}
.logo{
    height: 8em;
}
ul {
    list-style: none;
    display: flex;
    padding: 22px 0px;
}

.nav-items> ul>li{
    padding: 12px;
    font-size: 25px;
}

.res-card{
   margin: 5px;
    padding: 5px;
    /* height: 400px; */
    width: 250px;
}
.res-card:hover{
    cursor: pointer;
    border: 2px solid red;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
}
.filter-btn{
    border: 2px solid red;
    margin: 10px;
    cursor: pointer;
}

.search{
    padding: 10px;
}

.res-logo{
    
    width: 100%;
}
/* qltgnkyywuo5gmnpqzbm */